<form class="thing-form row" name="thingform">
  <span class="thing_id id">{{ $ctrl.item.id }}</span>
  <span class="invalid">{{ $ctrl.item.errors.full_messages }}</span>

  <div class="row form-group thing-name">
    <div class="col-lg-3 col-md-3">
      <label class="col-xs-3">Name</label>
    </div>
    <div class="col-lg-9 col-md-9">
      <input class="form-control" name="thing-name" data-ng-model="$ctrl.item.name"
        ng-readonly="!$ctrl.authz.canUpdate" required="required" maxlength="40"
        pattern=".{3,}" title="3 character minimum for Name" />

      <span class="invalid">{{ $ctrl.item.errors.name }}</span>
    </div>
    <br />
  </div>

  <div class="row form-group thing-desc" ng-show="thingform.$valid">
    <div class="col-lg-3 col-md-3">
      <label class="col-xs-3">Description</label>
    </div>
    <div class="col-lg-9 col-md-9">
      <textarea class="form-control" name="thing-desc" ng-model="$ctrl.item.description"
        ng-readonly="!$ctrl.authz.canUpdate" type="text" size="80" maxlength="4000" />
      <span class="invalid">{{ $ctrl.item.errors.description }}</span>
    </div>
    <br />
  </div>

  <div class="row form-group thing-notes" ng-show="$ctrl.authz.canGetDetails && thingform.$valid">
    <div class="col-lg-3 col-md-3">
      <label class="col-xs-3">Notes</label>
    </div>
    <div class="col-lg-9 col-md-9">
      <textarea class="form-control" name="thing-notes" ng-model="$ctrl.item.notes"
        ng-readonly="!$ctrl.authz.canUpdate" type="text" size="80" maxlength="4000" />
      <span class="invalid">{{ $ctrl.item.errors.notes }}</span>
    </div>
    <br />
  </div>

  <div class="row form-group thing-image-viewer">
    <div class="col-lg-3 col-md-3">
      <label class="col-xs-3">Related Images</label>
    </div>
    <div class="col-lg-9 col-md-9">
      <sd-image-viewer name="thing_editor" images="$ctrl.images"></sd-image-viewer>
    </div>
    <br />
  </div>

  <div class="row form-group thing-images" ng-if="$ctrl.authz.canUpdateImage || $ctrl.authz.canRemoveImage">
    <div class="col-lg-3 col-md-3">
      <label class="col-xs-3">Manage Images</label>
    </div>
    <div class="col-lg-9 col-md-9">
      <ul class="list-group thing-images">
        <li class="list-group-item" ng-repeat="ti in $ctrl.images | orderBy:'priority'">
          <input type="checkbox" name="image-delete" ng-show="$ctrl.authz.canRemoveImage"
            ng-model="ti.toRemove" value="{{ti.id}}">
          <div class="image-delete glyphicon glyphicon-remove" ng-show="ti.toRemove"></div>
          <input type="number" name="image-priority" min="0" max="9" ng-model="ti.priority"
            ng-show="$ctrl.authz.canUpdateImage && !ti.toRemove">
          <div class="glyphicon glyphicon-asterisk" ng-hide="ti.originalPriority == ti.priority || ti.toRemove"></div>
          <a data-ui-sref="images({ id: ti.image_id })">
            <img class="images-item img-rounded" style="width: 50px" ng-src="{{ ti.image_content_url }}?width=50" />
            <span class="id image_id">{{ ti.image_id }}</span>
            <label class="image-caption" ng-show="ti.image_caption">{{ ti.image_caption }}</label>
            <label class="image-caption" ng-hide="ti.image_caption">(no caption {{ ti.image_id }})</label>
          </a>
        </li>
      </ul>
      <span class="invalid">{{ $ctrl.item.errors.images }}</span>
    </div>
    <br />
  </div>

  <div class="row form-group thing-controls" ng-show="$ctrl.authz.authenticated">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <hr />
      <button class="btn btn-default" ng-show="!$ctrl.item.id && $ctrl.authz.canCreate" name="thing-create"
              ng-disabled="thingform.$invalid" type="submit" ng-click="$ctrl.create()">Create Thing</button>

      <div ng-show="$ctrl.item.id">
        <span class="thing-modify" data-ng-hide="!$ctrl.authz.canUpdate && !$ctrl.authz.canUpdateImage && !$ctrl.authz.canRemoveImage">
          <button class="btn btn-default" name="thing-update" type="submit" ng-disabled="thingform.$invalid || !thingform.$dirty"
                  data-ng-hide="$ctrl.haveDirtyLinks() && (!thingform['thing-name'].$dirty
                  && !thingform['thing-desc'].$dirty && !thingform['thing-notes'].$dirty)" ng-click="$ctrl.update()">Update Thing</button>
          <button class="btn btn-default" name="thing-images-update" type="submit" data-ng-show="$ctrl.haveDirtyLinks()
                  && (!thingform['thing-name'].$dirty && !thingform['thing-desc'].$dirty && !thingform['thing-notes'].$dirty)"
                  ng-click="$ctrl.updateImageLinks()">Update Image Links</button>
        </span>
        <button class="btn btn-default" name="thing-delete"
          type="submit" ng-show="$ctrl.authz.canDelete" ng-click="$ctrl.remove()">Delete Thing</button>
        <button class="btn btn-default" name="image-clear"
          type="submit" ng-click="$ctrl.clear()">Clear Thing</button>
      </div>
    </div>
    <br />
  </div>
</form>
