
body {
  background-color: #d2b48c;
}

form .invalid {
  color: #ff0000;
}

[readonly='readonly'] {
  background-color: inherit;
}

button:disabled {
  color:#717782;
}

.fullsize {
  padding-right: 0px;
  padding-left: 0px;
}

.nav li form {
  padding-left: 10px;
  padding-right: 10px;
}
