form.thing-form .id,
div.thing-list .id,
form.image-form .id,
div.image-list .id {
  display: none;
}

sd-image-editor form,
sd-thing-editor form {
  padding-left: 15px;
  padding-right: 15px;
}

div.images-area {
  padding-left: 15px;
  padding-right: 15px;
}

div.things-area {
  padding-left: 15px;
  padding-right: 15px;
}

div.subjects-page {
  padding-left: 0px;
  padding-right: 0px;
}

div.thing-info span.id {
  display: none;
}

div.thing-info {
  margin-left: 5px;
  position: relative;
}

div.thing-info .glyphicon {
  position: absolute;
  top: 60px;
  font-size: 5em;
}

div.thing-info .glyphicon-chevron-left {
  left: 10px;
}

div.thing-info .glyphicon-chevron-right {
  right: 10px;
}

div.thing-info .overlay {
  color: white;
  opacity: 0.0;
  z-index: 1002;
  cursor: pointer;
}

div.thing-info .overlay:hover {
  opacity: 1;
}

div.thing-marker-info span.id,
div.image-marker-info span.id {
  display: none;
}

div.thing-marker-info img,
div.image-marker-info img {
  width: 200px;
}

.admin-zone {
  padding: 12px;
  margin-bottom: 12px;
  background-color: #ffff55;
  border: solid 1px #e7e7e7;
}

.admin-zone h3 {
  margin-top: 0;
}

.tag-box {
  margin-bottom: 24px;
}

.tag-box .content {
  background-color: #f8f8f8;
}

.tag-box .title {
  width: 100%;
  padding: 0 12px;
  font-size: 2em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

.tag-box .thing-list {
  height: 200px;
  padding: 12px 0;
  overflow: auto;
}

.tag-box .link-things {
  padding: 7px;
  border-top: solid 1px #e7e7e7;
}
