<div id="authn-check" class="authn-id-check-area" sd-authn-check>
  <h3><i class="fa fa-id-card"></i> Identity Check</h3>
  <hr />

  <div class="row form-group client-user">
    <div class="col-lg-3 col-md-3">
      <button class="btn btn-lg btn-primary btn-authn-check btn-block" ng-click="idVM.getClientUser()">$auth says...</button>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="text" style="background-color: white; border-radius: 6px; padding: 10px;">
        <textarea id="authn-check-user" class="form-control" rows="2">{{ idVM.client }}</textarea>
      </div>
    </div>
    <br />
  </div>

  <div class="row form-group whoami-user">
    <div class="col-lg-3 col-md-3">
      <button class="btn btn-lg btn-primary btn-authn-check btn-block" ng-click="idVM.whoAmI()">whoAmI() says...</button>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="text" style="background-color: white; border-radius: 6px; padding: 10px;">
        <textarea id="authn-check-whoami" class="form-control" rows="2">{{ idVM.server.whoAmI }}</textarea>
      </div>
    </div>
    <br />
  </div>

  <div class="row form-group checkme-user">
    <div class="col-lg-3 col-md-3">
      <button class="btn btn-lg btn-primary btn-authn-check btn-block" ng-click="idVM.checkMe()">checkMe() says...</button>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="text" style="background-color: white; border-radius: 6px; padding: 10px;">
        <textarea id="authn-check-checkme" class="form-control" rows="2">{{ idVM.server.checkMe }}</textarea>
      </div>
    </div>
    <br />
  </div>
</div>
